@using Manager.WebApp.Resources;
@using Manager.WebApp.Caching;
@using Manager.SharedLibs;
@model Manager.WebApp.Models.ManageApplicationModel

@{
    //ViewBag.Title = ManagerResource.LB_APPLICANT_LIST;
    var currentLang = UserCookieManager.GetCurrentLanguageOrDefault();
    var listProcess = CommonHelpers.GetListProcessStatus(Model.agency_id);
    var hasStaff = Model.Staffs.HasData();
}
@using (Html.BeginForm("CandidateOfflineSearch", "Candidate", FormMethod.Post, new { role = "form", @class = "", id = "frmOffline" }))
{
    <input type="hidden" value="@Model.job_id" name="job_id" />
    <input type="hidden" value="@Model.CurrentPage" name="CurrentPage" />
    <input type="hidden" value="@Model.SearchExec" name="SearchExec" />
    <div class="row">
        <div class="col-sm-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <!--end::Section-->
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="m-section__content table-responsive">
                            <table id="sample-table-1" class="table m-table m-table--head-bg-brand table-bordered custom-border custom-label custom-checkbox">
                                <tbody>
                                    @if (Model.SearchResults.HasData())
                                    {
                                        var stt = 0;
                                        foreach (var record in Model.SearchResults)
                                        {
                                            stt++;
                                            var age = 0;
                                            if (record.birthday != null)
                                            {
                                                age = DateTime.Now.Year - record.birthday.Value.Year;
                                            }
                                            <tr>
                                                <td rowspan="3" class="width-4">
                                                    <div class="display-flex">
                                                        @{

                                                            var previewLink = SecurityHelper.GenerateSecureLink("CV", "Preview", new { id = record.job_seeker_id, type_job_seeker = 1, ctl_active = "Job", act_active = "Index" });
                                                            <a class="" href="@previewLink" target="_blank" title="@record.fullname">
                                                                <span class="ml10">
                                                                    <span class="fz-15"> @record.fullname</span><br />
                                                                    <span class="fz-13 job--code ml-2">@record.code</span>
                                                                </span>

                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                                <td class="width-2">
                                                    <label>@ManagerResource.LB_GENDER</label>
                                                    @if (record.gender == 1)
                                                    {
                                                        <span>
                                                           @ManagerResource.LB_MALE
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                           @ManagerResource.LB_FEMALE
                                                        </span>
                                                    }
                                                </td>
                                                <td>
                                                    <label>@ManagerResource.LB_AGE</label>
                                                    @if (age < 10)
                                                    {
                                                        <span>@(age) @ManagerResource.LB_AGE.ToLower()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@(age) @ManagerResource.LB_AGE.ToLower()</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>@ManagerResource.LB_PERSON_CHARGE</label>
                                                    @if (hasStaff)
                                                    {
                                                        var picInfo = Model.Staffs.FirstOrDefault(s => s.StaffId == record.pic_id);
                                                        if (picInfo != null)
                                                        {
                                                            @picInfo.FullName
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <label>@ManagerResource.LB_QUALIFICATION</label>
                                                    @record.qualification
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>@ManagerResource.LB_INVITE_DATE</label>
                                                    @record.created_at.DateTimeQuestToLocaleString(currentLang)
                                                </td>
                                                <td>
                                                    <label>@ManagerResource.LB_LAST_PROCESS</label>
                                                    @if (listProcess.HasData())
                                                    {
                                                        var item = listProcess.FirstOrDefault(s => s.id == record.status);
                                                        if (item != null)
                                                        {
                                                            @item.status_name
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="11">
                                                @ManagerResource.LB_NO_RECORD
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        @RenderPaging()
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
}
@helper RenderPaging()
{
    <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            @if (Model.WasOverRecordsInPage())
            {

                @Html.BootstrapPager(Model.CurrentPage, index => "javascript:;",
                    Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10, onclickEnvent: "CandidateOfflineSearchNext")
            }

            @if (Model.TotalCount > 0)
            {
                <div class="m-datatable__pager-info">
                    <span class="m-datatable__pager-detail">
                        @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResults.Count()) @ManagerResource.LB_RECORDS_DISPLAY
                    </span>
                </div>
            }
        </div>

    </div>
}
@section PageInlineStyles{
}
<script>
    function CandidateOfflineSearchNext(pageNum) {
        $("#frmOffline").find("input[name=CurrentPage]").val(pageNum);
        CandidateOfflineSearch();
    }
    function CandidateOfflineSearch() {
        var frmData = $("#frmOffline").serialize();
        var params = $.extend({}, doAjax_params_default);
        params['url'] = "/Candidate/OfflineSearch";
        params['requestType'] = "POST";
        params['data'] = frmData;
        params['dataType'] = "html";

        params['successCallbackFunction'] = function (data) {
            $("#CandidateOffline").html(data);
        };

        doAjax(params);
    }
</script>