@using Manager.WebApp.Resources
@using Manager.WebApp.Settings
@model Manager.WebApp.Models.PropertyCategoryEditModel

@{
    ViewBag.Title = ManagerResource.LB_UPDATE_INFO;
}

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-edit text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_UPDATE_INFO
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Edit", "PropertyCategory", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
                @Html.HiddenFor(m => m.Id)
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @*@Html.LabelFor(m => m.Name, new { @class = "form-control-label" }) (@ManagerResource.LB_DEFAULT)*@
                        @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-warning m-input" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-lg-3">
                        @Html.LabelFor(m => m.Code, new { @class = "form-control-label" })
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control form-control-warning m-input" })
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>*@
                    <div class="col-lg-3">
                        <label></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input name="@Html.NameFor(m => m.Status)" @((Model.Status == 1) ? "checked" : null) value="1" type="checkbox">
                                @ManagerResource.LB_ACTIVE
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-md-6">
                        <div class="m-section">
                            <h3 class="m-section__heading">
                                @ManagerResource.LB_PROPERTY_VALUES
                                <a class="btn btn-white btn-sm btn-info pull-right" data-modal="" data-href="/PropertyCategory/UpdateProperty?PropertyCategoryId=@Model.Id" title="@ManagerResource.LB_ADDNEW">
                                    <i class="fa fa-plus"></i> @ManagerResource.LB_ADDNEW
                                </a>
                            </h3>

                            @Html.Partial("_Properties", Model)
                        </div>                        
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-6">                        
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-download"></i> @ManagerResource.LB_SAVE
                        </button>
                        <a class="btn btn-secondary" href="@Url.Action("Index", "PropertyCategory")"><i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL</a>
                    </div>
                </div>
            </div>                
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginStyles
{
    <style>
        .m-list-timeline__items .m-list-timeline__item{padding: 0 !important;}
        .m-demo .m-demo__preview{padding:10px !important;}
    </style>
}

@section PagePluginScripts
 {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}