@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using Manager.WebApp.Resources
@using Manager.WebApp.Helpers
@using Manager.WebApp.Models

@model Manager.WebApp.Models.AccountDetailViewModel

@{
    ViewBag.Title = ManagerResource.LB_MYPROFILE;   
}

@if (Request.IsAuthenticated)
{
   @RenderUserInfo()
}

@helper RenderUserInfo()
{
        var avatarUrl = string.Empty;
        var identity = (ClaimsIdentity)User.Identity;
            IEnumerable<Claim> claims = identity.Claims;
            avatarUrl = identity.FindFirstValue(ClaimKeys.Avatar);

            if (string.IsNullOrEmpty(avatarUrl))
            {
                avatarUrl = "/assets/app/media/img/users/default-avatar.jpg";
            }


        if (string.IsNullOrEmpty(avatarUrl))
        {
            avatarUrl = "/assets/app/media/img/users/user4.jpg";
        }

        @Html.Partial("_Notifications")
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__body">
                        <div class="m-card-profile">
                            <div class="m-card-profile__pic">
                                <div class="m-card-profile__pic-wrapper">
                                    <img src="@avatarUrl" alt="">

                                </div>
                            </div>
                            <div class="m-card-profile__details">
                                <span class="m-card-profile__name">@Model.UserName</span>
                                @*<a href="" class="m-card-profile__email m-link">@Model.Email</a>*@
                            </div>
                        </div>


                        <div class="m-portlet__body-separator"></div>

                        @*<div class="m-widget1 m-widget1--paddingless">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Member Profit</h3>
                                        <span class="m-widget1__desc">Awerage Weekly Profit</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">+$17,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Orders</h3>
                                        <span class="m-widget1__desc">Weekly Customer Orders</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">+1,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Issue Reports</h3>
                                        <span class="m-widget1__desc">System bugs and issues</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-success">-27,49%</span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                        <i class="flaticon-share m--hide"></i>
                                        @ManagerResource.LB_INFORMATION
                                    </a>
                                </li>
                                @*<li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                            Messages
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                            Settings
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_user_profile_tab_1">
                            <div class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-portlet__body">                                    
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_FULL_NAME</label>
                                        <div class="col-7">
                                            <input class="form-control m-input" disabled type="text" value="@Model.FullName" />
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_CREATED_DATE</label>
                                        <div class="col-7">
                                            <input class="form-control m-input" type="text" disabled value="@Model.CreatedDateUtc.ToLocalTime()">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_ROLES_ASSIGNED</label>
                                        <div class="col-7">
                                            @if (Model.RolesList != null && Model.RolesList.Count > 0)
                                            {
                                                <div class="m-list-badge m-list-badge--light-bg" style="padding:5px">
                                                    <div class="m-list-badge__items">
                                                        @foreach (var item in Model.RolesList)
                                                        {
                                                            <span class="m-list-badge__item">
                                                                @item
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-2">
                                            </div>
                                            <div class="col-7">                                                
                                                @*<a class="btn btn-primary m-btn m-btn--icon" style="margin-right:10px" href="@Url.Action("UpdateProfile", "Account")"><i class="la la-pencil"></i> Update profile</a>*@
                                                <a class="btn btn-info m-btn" href="@Url.Action("ChangePassword", "MyAccount")"><i class="fa fa-lock"></i> @ManagerResource.LB_CHANGE_PWD</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

