@using Manager.WebApp.Resources
@model Manager.WebApp.Models.IndexRoleViewModel
@using Manager.WebApp.Caching

@{
    //ViewBag.Title = ManagerResource.LB_ROLE;
}


@Html.Partial("_Notifications")


<div class="modal fade" id="frmUpdate" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @ManagerResource.LB_UPDATE_ROLE
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "RolesAdmin", FormMethod.Post, new { role = "form" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CurrentRole.Id, new { id = "CurrentID" })
                        <label>@ManagerResource.LB_ROLE_NAME</label> (<span class="required-input">*</span>)
                        @Html.TextBoxFor(m => m.CurrentRole.Name, new { id = "txtName", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CurrentRole.Name, "", new { @class = "m--font-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">
                        <i class="fa fa-download"></i> @ManagerResource.LB_SAVE
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-remove"></i> @ManagerResource.BT_CANCEL
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("../Widgets/Modals/_DefaultModal")

<div class="row">
    <div class="col-sm-12">
        <div class="m-portlet">
            <div class="col-md-12">
                <div class="clearfix operation">
                    <button type="button" onclick="UpdateData('create','0')" class="btn btn-white btn-info btn-sm"><i class="fa fa-plus"></i> @ManagerResource.LB_ADD_NEW</button>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-section">
                    <div class="m-section__content">
                        <table id="sample-table-1" class="table m-table m-table--head-bg-brand">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@ManagerResource.LB_ROLE_NAME</th>
                                    <th>@ManagerResource.LB_ACTION</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.RoleList != null && Model.RoleList.Count > 0)
                                {
                                    var counter = 0;
                                    foreach (var record in Model.RoleList)
                                    {
                                        counter++;
                                        <tr>
                                            <th scope="row">@counter</th>
                                            <td>@record.Name</td>
                                            <td width="120px">
                                                <input type="hidden" id="hdName_@record.Id" value="@record.Name" />

                                                @if (record.UserId == Model.UserId)
                                                {
                                                    @*<a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" onclick="UpdateData('edit','@record.Id')" href="javascript:;" title="@ManagerResource.LB_EDIT">
                                                            <i class="la la-pencil"></i>
                                                        </a>

                                                        <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" data-href="@Url.Action("DeleteRole", "RolesAdmin", new { id = record.Id })" data-modal="" title="@ManagerResource.LB_DELETE">
                                                            <i class="la la-trash"></i>
                                                        </a>*@

                                                    <div class="dropdown ">
                                                        <a href="javascript:;" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                                            <i class="la la-ellipsis-h"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item btn m-btn m-btn--hover-info" onclick="UpdateData('edit','@record.Id')" href="javascript:;" title="@ManagerResource.LB_EDIT"><i class="la la-pencil"></i> @ManagerResource.LB_EDIT</a>
                                                            <a class="dropdown-item btn m-btn m-btn--hover-danger" href="javascript:;" data-href="@Url.Action("DeleteRole", "RolesAdmin", new { id = record.Id })" data-modal="" title="@ManagerResource.LB_DELETE"><i class="la la-trash"></i> @ManagerResource.LB_DELETE</a>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <a href="javascript:;" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btn-outline-accent btn-error-permision">
                                                        <i class="la la-ellipsis-h"></i>
                                                    </a>

                                                    @*<a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill btn-error-permision" title="@ManagerResource.LB_EDIT">
                                                            <i class="la la-pencil"></i>
                                                        </a>
                                                        <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btn-error-permision" title="@ManagerResource.LB_DELETE">
                                                            <i class="la la-trash"></i>
                                                        </a>*@
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Section-->
                <div class="col-md-12">
                    <div class="separator">ボタンの説明</div>
                    <div class="pt-3">
                        ※<a class="btn btn-white btn-sm btn-info" href="javascript:;" title="追加"><i class="fa fa-plus"></i> 追加</a>：新規役割名を追加する。
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>

</div>

@section PagePluginStyles
{

}

@section PageInlineStyles
{
    <style>
    </style>
}

@section PagePluginScripts
 {


}


@section PageInlineScripts
{
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        function UpdateData(action, id) {
            if (action === 'create') {
                $("#frmUpdateLabel").html("Create new role");
                $("#frmUpdate form").attr("action", "/RolesAdmin/Create");
                $("#txtName").val("");
            }
            else {
                $("#frmUpdate form").attr("action", "/RolesAdmin/Update");
                $("#frmUpdateLabel").html("Edit role");
                $("#txtName").val($("#hdName_" + id).val());
            }
            $("#CurrentID").val(id);

            $('#frmUpdate').modal('show');
        }
    </script>
}






